/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/


    

/*  ========================== */
/* backgroundImage page layout styles */

.backgroundImage
    &-page
        &__content
            height calc(100vh - 45px)
            width 100%
            background-size cover
            background-repeat repeat
            background-attachment fixed
            background-position center center