/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/



/*  ========================== */
/* Brainstorm page layout styles */
.brif
    &-container
        max-width 1000px
        margin 0 auto
    &-block
        padding 0
        margin-bottom 15px
    &-input-container
        overflow hidden