@import "../shared/cl.styl"
/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/

/*  ========================== */
/*  DoubleLeaderboard page layout styles */
.doubleLeaderboard
	&-content
		margin 0 0 30px 0