<section class="layoutContainer feedbackSingleSelect FBSS">
    <article>
        <section class="FBSS-header">{{=it.components[0]}}</section>        
        <section class="FBSS-content">
            <article class="FBSS-content__wrapper">
                <section class="FBSS-content-header">{{=it.components[1]}}</section>        
                <section class="FBSS-info">{{=it.components[2]}}</section>        
                <section class="FBSS-content-header">{{=it.components[3]}}</section>        
                <section class="FBSS-info">{{=it.components[4]}}</section>
                <section class="FBSS-gauges">
                    <section class="FBSS-gauges__container">{{=it.components[5]}}</section>
                </section>
            </article>
        </section>        
    </article>
</section>
