<section class="layoutContainer feedbackMultipleSelect FBMS">
    <article>
        <section class="FBMS-header">{{=it.components[0]}}</section>        
        <section class="FBMS-content">
            <article class="FBMS-content__wrapper">
                <section class="FBMS-content-header">{{=it.components[1]}}</section>        
                <section class="FBMS-info">{{=it.components[2]}}</section>        
                <section class="FBMS-content-header">{{=it.components[3]}}</section>        
                <section class="FBMS-info">{{=it.components[4]}}</section>
                <section class="FBMS-gauges">
                    <section class="FBMS-gauges__container">{{=it.components[5]}}</section>
                </section>
            </article>
        </section>        
    </article>
</section>
