<!-- This template is created for CnC wizard -->
<section class="layoutContainer feedbackSingleSelect FBSSG">
    <article>
        <section class="FBSSG-topgauges1">{{=it.components[0]}}</section>
        <section class="FBSSG-topgauges2">{{=it.components[1]}}</section>
        <section class="FBSSG-header">{{=it.components[2]}}</section>        
        <section class="FBSSG-content">
            <article class="FBSSG-content__wrapper">
                <section class="FBSSG-content-header">{{=it.components[3]}}</section>        
                <section class="FBSSG-info">{{=it.components[4]}}</section>        
                <section class="FBSSG-content-header">{{=it.components[5]}}</section>        
                <section class="FBSSG-info">{{=it.components[6]}}</section>
                <section class="FBSSG-gauges">
                    <section class="FBSSG-gauges__container">{{=it.components[7]}}</section>
                </section>
            </article>
        </section>        
    </article>
</section>
