/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/

/*  ========================== */
/*  Info/TableRow MultiComponent page layout styles */
.itr-layout
    &__container
        overflow hidden
        width 100%
        background #fff

    &-tableRow-container
        padding 0 0 0 0
        @media screen and (max-width: 767px)
            padding 10px 0 0 10px

    &-info-container
        padding 0 0 0 0