/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/



/*  ========================== */
/* InfoAccordion page layout styles */
.ictc
    &-container
        margin 0 auto
    &-block
        padding 0
        margin-bottom 16px
    *[class*="-column-"]
        padding 0
    .infoAccordion-container    
        padding 20px 10px 10px 10px