/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/

/*  Sim page layout styles */
.mainAreaBlank
    height 100%
    padding 0 100px
    position relative
    @media screen and (max-width: 767px) 
        height auto
        padding 0
    &-container
        max-width 1000px
        margin 100px auto 0 auto
        padding-bottom 50px
        @media screen and (max-width: 767px) 
            margin 0