<section class="layout-container rmd">
    <div class="rmd-shield" ></div>
    <article class="rmd-container content-wrapper">
        <section class="rmd-header cl-xs-column-12 cl-md-column-4 cl-lg-column-3 cl-padding--no">{{=it.components[0]}}</section>
        <section class="rmd-content cl-xs-column-12 cl-md-column-4 cl-lg-column-3 cl-padding--no">
            <article>{{=it.components[1]}}</article>
            <footer>
                <div class="rmd-button__ok">{{=it.components[2]}}</div>
            </footer>
        </section>
    </article>
</section>
