<section class="layoutContainer sstr-layout">
    <article>
        <section class="sstr-layout__header">{{=it.components[0]}}</section>
        <section class="sstr-layout__container">
            <article class="sstr-layout-instructions cl-xs-column-12 cl-sm-column-12 cl-md-column-12">{{=it.components[1]}}</article>
            <article class="sstr-layout-tableRow-container cl-xs-column-12 cl-sm-column-12 cl-md-column-6">
                {{=it.components[3]}}
            </article>
            <article class="sstr-layout-singleSelect-container cl-xs-column-12 cl-sm-column-12 cl-md-column-6">
                {{=it.components[2]}}
            </article>
        </section>
    </article>
</section>
