@import "../shared/cl.styl"
/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/

/*  ========================== */
/*  TableTabs page layout styles */
.tableTabs
    &-content
        margin 0 0 20px 0
        padding 0
        .cl-row 
            padding 0