<div class="layoutContainer twoColumnTextList">
	<div class="twoColumnTextList-header">{{=it.components[0]}}</div>
	<div class="twoColumnTextList-container">
        <div class="twoColumnTextList-textlist-header">{{=it.components[1]}}</div>
		<div class="twoColumnTextList-textlist-container">
			<div class="twoColumnTextList-textlist cl-xs-column-6 cl-md-column-6">{{=it.components[2]}}</div>
			<div class="twoColumnTextList-textlist cl-xs-column-6 cl-md-column-6">{{=it.components[3]}}</div>
		</div>
	</div>
</div>
