/* This is css for the layouts in the wizer core*/
/* if you are using a layoutInevent then please let it have its own css called layout.css in the events/layout folder*/

/*  ========================== */
/*  Double Brainstorm page layout styles */
.twoColumnTextList
    &-container
        max-width 1000px
        margin 0 auto
    &-input,
    &-textlist
        padding 0
        margin-bottom 1rem
    &-textlist-header
        color #1E1E1E
        text-align left
        padding: 0 .4rem
        margin 1rem 0
    