<section class="layoutContainer doubleBrainstorm">
    <article class="doubleBrainstorm-header"></article>
    <article class="doubleBrainstorm-container">
        <section class="doubleBrainstorm-input-container cl-sm-column-12 cl-md-column-6">
            <article class="doubleBrainstorm-input">{{=it.components[0]}}</article>
            <article class="doubleBrainstorm-input">{{=it.components[2]}}</article>
        </section>
        <section class="doubleBrainstorm-textlist-container cl-sm-column-12 cl-md-column-6">
            <article class="doubleBrainstorm-textlist">{{=it.components[1]}}</article>
            <article class="doubleBrainstorm-textlist">{{=it.components[3]}}</article>
        </section>
    </article>
</section>
