<section class="layoutContainer doubleBrainstorm">
    <article class="doubleBrainstorm-header"></article>
    <article class="doubleBrainstorm-container">
        <section class="doubleBrainstorm-input-header"></section>
        <section class="doubleBrainstorm-input-container">
            <article class="doubleBrainstorm-input cl-xs-column-12 cl-md-column-6">{{=it.components[0]}}</article>
            <article class="doubleBrainstorm-input cl-xs-column-12 cl-md-column-6">{{=it.components[1]}}</article>
        </section>
    </article>
</section>
