@import "common-rules.styl"
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.gauge
    background $color-primary-pink
    color $white
    font-size 1.5rem
    height 116px
    width 116px
    border-radius 50%
    z-index 1
    position absolute
    right 21%
    top 0
    &-value
        position absolute
        left 50%
        transform translateX(-50%)
        top 55%
    &-label
        font-weight bold
        font-size 13px
        position relative
        color $darkgrey
        right 50%
        top 55%
        text-transform uppercase
    &:after
        content ''
        display block
        height 1.5rem
        width 1.5rem
        border-radius 50%
        background-color $color-primary-pink
        position absolute
        right -.5rem
        bottom -.5rem
.gauges
    &.multiplegauges
        flex()
        flex-flow wrap
        border-radius $radius $radius 0 0
        margin-bottom 2px
        text-align center
        background-color $darkgrey
        padding .5rem
        .gauge
            flex-grow 1
            position static
            height auto
            width auto
            border-radius 0
            font-size inherit
            background-color transparent
            &-value
                transform none
                position static
                font-size 1.5rem
                display block
                margin auto
            &-label
                position static
                text-transform none
                display block
                color $white
            &:after
                display none
        &.open
            display block

@media screen and (max-width 1024px)
    .gauge
        right 4%
@media screen and (max-width 600px)
    .gauge
        top -3px
        &-icon
            position fixed
            top 12px
            right 5.5rem
            z-index 1002
            font-size 1.5rem
            &:before
                content '\f080'
                font-family 'fa-solid-900'
                color $white
            &.clicked:before
                color $color-primary-pink
    .gauges
        vendor(transition, all 1s ease)
        &.multiplegauges
            display none
            vendor(transition, all 1s ease)
            &.open
                flex()
                vendor(transition, all 1s ease)