@font-face {
  font-family: 'fa-regular-400';
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}
body,
p,
li,
input,
button {
  font-weight: normal;
  line-height: normal;
}
h1,
h2,
h3 {
  font-weight: normal;
  line-height: normal;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0.5rem 0;
}
li {
  margin-left: 20px;
  padding: 5px 0;
}
input[type=button] {
  -webkit-appearance: none !important;
}
.designedButton,
.dBGraphics {
  visibility: hidden;
  display: none !important;
}
#filterSelector {
  display: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea,
input,
.cl-textarea {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  border: 1px solid #cfd1d0;
  border-radius: 5px;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.2);
}
.shield {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.shield.hidden {
  display: none;
}
.readonly {
  pointer-events: none;
}
.readonly .cl-foote {
  display: none;
}
.disabled {
  pointer-events: none;
}
blockquote {
  padding: 1.5rem;
  background-color: #efefef;
  border-radius: 5px;
  position: relative;
  margin-top: 2.5rem;
}
blockquote:before,
blockquote:after {
  content: '\f10d';
  font-family: 'fa-solid-900';
  position: absolute;
  color: $color-primary;
}
blockquote:before {
  font-size: 3rem;
  top: -30px;
  left: 10px;
}
blockquote:after {
  content: '\f10e';
  font-size: 2rem;
  bottom: -18px;
  right: 10px;
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-o-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-webkit-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-o-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-moz-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@-o-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.gauge {
  background: #75013F;
  color: #fff;
  font-size: 1.5rem;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  right: 21%;
  top: 0;
}
.gauge-value {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55%;
}
.gauge-label {
  font-weight: bold;
  font-size: 13px;
  position: relative;
  color: #1e1e1e;
  right: 50%;
  top: 55%;
  text-transform: uppercase;
}
.gauge:after {
  content: '';
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #75013F;
  position: absolute;
  right: -0.5rem;
  bottom: -0.5rem;
}
.gauges.multiplegauges {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-flow: wrap;
  border-radius: 5px 5px 0 0;
  margin-bottom: 2px;
  text-align: center;
  background-color: #1e1e1e;
  padding: 0.5rem;
}
.gauges.multiplegauges .gauge {
  flex-grow: 1;
  position: static;
  height: auto;
  width: auto;
  border-radius: 0;
  font-size: inherit;
  background-color: transparent;
}
.gauges.multiplegauges .gauge-value {
  transform: none;
  position: static;
  font-size: 1.5rem;
  display: block;
  margin: auto;
}
.gauges.multiplegauges .gauge-label {
  position: static;
  text-transform: none;
  display: block;
  color: #fff;
}
.gauges.multiplegauges .gauge:after {
  display: none;
}
.gauges.multiplegauges.open {
  display: block;
}
@media screen and (max-width: 1024px) {
  .gauge {
    right: 4%;
  }
}
@media screen and (max-width: 600px) {
  .gauge {
    top: -3px;
  }
  .gauge-icon {
    position: fixed;
    top: 12px;
    right: 5.5rem;
    z-index: 1002;
    font-size: 1.5rem;
  }
  .gauge-icon:before {
    content: '\f080';
    font-family: 'fa-solid-900';
    color: #fff;
  }
  .gauge-icon.clicked:before {
    color: #75013F;
  }
  .gauges {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  .gauges.multiplegauges {
    display: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  .gauges.multiplegauges.open {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}
