@font-face {
  font-family: 'fa-regular-400';
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}
body,
p,
li,
input,
button {
  font-weight: normal;
  line-height: normal;
}
h1,
h2,
h3 {
  font-weight: normal;
  line-height: normal;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0.5rem 0;
}
li {
  margin-left: 20px;
  padding: 5px 0;
}
input[type=button] {
  -webkit-appearance: none !important;
}
.designedButton,
.dBGraphics {
  visibility: hidden;
  display: none !important;
}
#filterSelector {
  display: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea,
input,
.cl-textarea {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  border: 1px solid #cfd1d0;
  border-radius: 5px;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.2);
}
.shield {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.shield.hidden {
  display: none;
}
.readonly {
  pointer-events: none;
}
.readonly .cl-foote {
  display: none;
}
.disabled {
  pointer-events: none;
}
blockquote {
  padding: 1.5rem;
  background-color: #efefef;
  border-radius: 5px;
  position: relative;
  margin-top: 2.5rem;
}
blockquote:before,
blockquote:after {
  content: '\f10d';
  font-family: 'fa-solid-900';
  position: absolute;
  color: $color-primary;
}
blockquote:before {
  font-size: 3rem;
  top: -30px;
  left: 10px;
}
blockquote:after {
  content: '\f10e';
  font-size: 2rem;
  bottom: -18px;
  right: 10px;
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-o-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-webkit-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-o-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-moz-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@-o-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.identifier {
  display: block;
  border-bottom: 8px solid #75013F;
}
.inc-noteBox {
  margin: auto;
  position: absolute;
}
.inc-noteBox-container {
  height: 100%;
  padding: 4rem;
  position: relative;
}
.inc-noteBox-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-left: 2rem;
  position: relative;
  z-index: 1;
  bottom: -1.5rem;
  background-color: #75013F;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  -webkit-animation: rotate 1s ease;
  -moz-animation: rotate 1s ease;
  -ms-animation: rotate 1s ease;
  animation: rotate 1s ease;
}
.inc-noteBox-text {
  width: 35rem;
  max-height: 25rem;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 4px solid #75013F;
  background-color: #fff;
  color: #868789;
  font-size: 1.6rem;
  box-shadow: 1rem 1rem 3rem -0.5rem rgba(0,0,0,0.4);
}
.inc-noteBox.LefttBottom,
.inc-noteBox.LeftTop {
  left: 10rem;
}
.inc-noteBox.RightBottom,
.inc-noteBox.RightTop {
  right: 10rem;
  text-align: right;
}
.inc-noteBox.LeftBottom,
.inc-noteBox.RightBottom {
  bottom: 4rem;
}
.inc-noteBox.CenterBottom,
.inc-noteBox.CenterTop {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
.inc-noteBox.CenterBottom:after,
.inc-noteBox.CenterTop:after {
  content: '';
  display: block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #75013F;
  background-image: url("../images/quote-after.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  position: absolute;
  right: 1rem;
  bottom: -0.5rem;
  -webkit-animation: rotate 1s ease;
  -moz-animation: rotate 1s ease;
  -ms-animation: rotate 1s ease;
  animation: rotate 1s ease;
}
.inc-noteBox.CenterBottom .inc-noteBox-text,
.inc-noteBox.CenterTop .inc-noteBox-text {
  background-color: rgba(0,0,0,0.8);
  color: #efefef;
}
.inc-noteBox.CenterBottom {
  bottom: 4rem;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
  .inc-noteBox.LefttBottom,
  .inc-noteBox.LeftTop {
    left: 4rem;
  }
  .inc-noteBox.RightBottom,
  .inc-noteBox.RightTop {
    right: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .identifier {
    border-bottom-width: 4px;
  }
  .inc-noteBox-container {
    padding: 2rem 1rem;
  }
  .inc-noteBox-text {
    font-size: 1.3rem;
    width: 18rem;
  }
  .inc-noteBox.LefttBottom,
  .inc-noteBox.LeftTop {
    left: 2rem;
  }
  .inc-noteBox.RightBottom,
  .inc-noteBox.RightTop {
    right: 2rem;
  }
  .inc-noteBox.LeftBottom {
    bottom: 2rem;
  }
  .inc-noteBox.RightBottom {
    bottom: 2rem;
  }
}
