@font-face {
  font-family: 'fa-regular-400';
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}
body,
p,
li,
input,
button {
  font-weight: normal;
  line-height: normal;
}
h1,
h2,
h3 {
  font-weight: normal;
  line-height: normal;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0.5rem 0;
}
li {
  margin-left: 20px;
  padding: 5px 0;
}
input[type=button] {
  -webkit-appearance: none !important;
}
.designedButton,
.dBGraphics {
  visibility: hidden;
  display: none !important;
}
#filterSelector {
  display: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea,
input,
.cl-textarea {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  border: 1px solid #cfd1d0;
  border-radius: 5px;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.2);
}
.shield {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.shield.hidden {
  display: none;
}
.readonly {
  pointer-events: none;
}
blockquote {
  padding: 1.5rem;
  background-color: #efefef;
  border-radius: 5px;
  position: relative;
  margin-top: 2.5rem;
}
blockquote:before,
blockquote:after {
  content: '\f10d';
  font-family: 'fa-solid-900';
  position: absolute;
  color: $color-primary;
}
blockquote:before {
  font-size: 3rem;
  top: -30px;
  left: 10px;
}
blockquote:after {
  content: '\f10e';
  font-size: 2rem;
  bottom: -18px;
  right: 10px;
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-ms-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-o-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@-o-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.hmc-data {
  padding: 2rem 0;
}
.hmc-table {
  display: table;
  font-size: 1.2rem;
}
.hmc-table__thead,
.hmc-table__row {
  display: table-row;
}
.hmc-table__th,
.hmc-table__td {
  display: table-cell;
  border: 1px solid #dfe1df;
  font-size: inherit;
}
.hmc-table__thead {
  background: #75013F;
  color: #fff;
}
.hmc-table__td {
  color: #000;
}
.hmc-table__row:nth-child(even) {
  background-color: #efefef;
}
