@import "common-rules.styl"
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.hmc
    &-data
        padding 2rem 0
    &-table
        display table
        font-size 1.2rem
        &__thead, &__row
            display table-row
        &__th, &__td
            display table-cell
            border 1px solid $white
            font-size inherit
            text-align center
        &__thead
            background $color-primary-pink
            color $white
        &__td
            color $black
        &__row
            &:nth-child(odd)
                background-color #f2efec
            &:nth-child(even)
                background-color #eae5df