@import "common-rules.styl"
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.identifier
    &-wrapper
        width 90%
        margin auto
    &-background
        background-repeat no-repeat
        background-color white
        background-position 86% center
        background-size 37%
        // background-image none !important
    &-content
        vertical-align top
    &-blue-box-wrapper
        margin-left 5rem
        margin-top 15rem
        width auto
    &-page
        &-content
            background transparent
            border-radius 20px 0 0 20px
            padding 0 1rem
            max-width 60rem
            position relative
            &:before, &:after
                content ''
                display block
                height 0
                width 0
                border-radius 50%
                background-color $color-primary-blue
                position absolute
                bottom -1rem
                right -4rem
                vendor(animation, wobble 10s ease infinite)
                vendor(transform-origin, center bottom)
            &:after
                height 1.5rem
                width 1.5rem
                bottom 5.2rem
                right 1rem
        &-text
            padding 0
            &__title
                line-height normal
                font-size 75px !important
                font-family: 'Trust 2A';
                font-weight bold
                border-bottom 1px solid $black
                color $color-primary-blue
            &__sub-title
                font-size 45px !important
                font-family: 'Trust 2A';
                color $color-primary-pink
                padding 1rem 0
/*------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width 1024px)
    .identifier
        &-blue-box-wrapper
            margin-left 3rem
        &-page
            &-content
                max-width 22rem
            &-text
                &__title
                    font-size 1.4rem
                &__sub-title
                    font-size 2.5rem
@media screen and (max-width 600px)
    .identifier
        border-bottom-width 4px
        &-blue-box-wrapper
            margin-left 2rem
            margin-top 3rem
        &-page
            &-content
                max-width 16rem
                &:before
                    height 3rem
                    width 3rem
                &:after 
                    height 1.5rem
                    width 1.5rem
                    bottom 2rem
                    right -4rem
            &-text
                &__title
                    font-size 1rem
                &__sub-title
                    font-size 1.5rem