@import "common-rules.styl"
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.fbc
    &-content
        overflow hidden
    &-feedback
        padding 0
        line-height 25px
    &-article
        .youSelected
            &_title
                display none
            &_option
                color $color-primary-pink
                margin-bottom 1rem
                border-bottom 1px solid $color-primary-blue
                padding-bottom 1rem
        .feedback
            &_title
                font-weight 600
    &-metrics
        padding .5rem
        .metric
            &-container
                border 1px solid #eae5df
                border-radius 0
                overflow hidden
                text-align center
                .scoreHeader
                    padding .5rem
                    font-weight 600
                    background-color #eae5df
                    color $color-primary-pink
            &-box
                overflow hidden
                padding .5rem 0
                flex()
                align-items center
                &:nth-child(odd)
                    border-bottom 1px solid #EAE5DF
            &score
                font-size 1.1rem
                font-weight bold
                font-family 'Trust Hartford Sans'
                &.positiveVal
                    color $green
                    &:before
                        content '+'
                &.negativeVal
                    color $red
                    &:before
                        content '-'
                &.zero
                    color $mediumgrey
/*------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width 600px)
    .fbc
        &-metrics
            padding .5rem 0
            .metric
                &-box
                    padding 0
                &score
                    font-size 1.5rem
        &-article
            font-size .8rem