/*-------------------------------------------------------------------------------------------------------------------*/
.hmc-article {
  position: relative;
  overflow: hidden;
}
.hmc-data {
  padding: 2px;
  background-color: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
}
.hmc-table {
  overflow: hidden;
}
.hmc-table__thead,
.hmc-table__row {
  display: table-row;
  width: 100%;
}
.hmc-table__thead {
  background-color: #efefef;
  text-align: center;
}
.hmc-table__th,
.hmc-table__td {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  padding: 5px;
  border-bottom: 1px solid #efefef;
  position: relative;
}
.hmc-table__th {
  max-width: 15rem;
  white-space: initial;
  font-size: 0.9rem;
}
.hmc-table__td {
  text-align: center;
  color: #000;
}
.hmc .color-1 {
  background-color: #e2725b;
}
.hmc .color-2 {
  background-color: #fff;
  color: #1e1e1e;
}
.hmc .color-3 {
  background-color: #74c365;
}
