@import "common-rules.styl"
/*-------------------------------------------------------------------------------------------------------------------*/
.hmc
    &-data
        padding 2rem 0
    &-table
        display table
        font-size 1.2rem
        &__thead, &__row
            display table-row
        &__th, &__td
            display table-cell
            border 1px solid $white
            font-size inherit
            text-align center
        &__thead
            background $color-primary-pink
            color $white
        &__td
            color $black
        &__row
            &:nth-child(odd)
                background-color #f2efec
            &:nth-child(even)
                background-color #eae5df
    .color-1
        background-color $color-primary-pink
    .color-2
        background-color $color-secondary-skyblue
    .color-3
        background-color $color-secondary-yellow
    .color-4
        background-color $color-primary-grey
    .color-5
        background-color $turquoise
    .color-6
        background-color $steelblue
    .color-7
        background-color $green
    .color-8
        background-color $color-primary-pink
    .color-9
        background-color $color-secondary-skyblue
    .color-10
        background-color $color-secondary-yellow
    .color-11
        background-color $color-primary-grey
    .color-12
        background-color $turquoise
    .color-13
        background-color $steelblue
    .color-14
        background-color $green

/*$pepsicoblue = #01519b
$pepsicoorange = #f36824
$pepsicogreen = #00ab4d
$pepsicobluelight = #009ada
$pepsicored = #ee1b2c
$pepsicogrey = #808285
$pepsicobluedark = #012f59
$pepsicoorangedark = #c74b0f
$pepsicogreendark = #037838
$pepsicobluelightdark = #0075a5
$pepsicoreddark = #b30513
$pepsicogreydark = #5a5a5b*/