@import "common-rules.styl"
/*------------------------------------------------------------------------------------------------------------------------------------------*/
/*$pepsicoblue = #01519b
$pepsicoorange = #f36824
$pepsicogreen = #00ab4d
$pepsicobluelight = #009ada
$pepsicored = #ee1b2c
$pepsicogrey = #808285
$pepsicobluedark = #012f59
$pepsicoorangedark = #af400b
$pepsicogreendark = #01612d
$pepsicobluelighter = #89dcff
$pepsicoreddark = #b30513
$pepsicogreydark = #5a5a5b
$pepsicoreddarker = #79000a
$pepsicoorangerdarker = #a23702
$pepsicoredmed = #a92d38
$pepsicogreylight = #bfbfbf

$white = #ffffff
$lightgrey = #efefef
$mediumgrey = #d0d0cf
$grey = #4d4d4d
$darkgrey = #1e1e1e
$black = #000000
$green = #499c17
$orange = #e44727
$btsred = #f00a3c
$btsmagenta = #ff41a5
$btsnavy = #28324b
$btsblue = #0050be
$btsbrightblue = #00b9ff
$greyishblue = #202c54
$olivegreendark = #386125
$brightyellow = #fff539
$btsmagentadark = #c52c7d
$violet = #653d9e
$brown = #b95302
$reddark = #b70000
$magentabright = #980297
$brightblue = #009ef3
$greymedium = #777777*/
/*-------------------------------------------------------------------------------------------------------------------*/
.hmc
    &-data
        padding 2rem 0
    &-table
        display table
        font-size 1.2rem
        &__thead, &__row
            display table-row
        &__th, &__td
            display table-cell
            border 1px solid $lightgrey
            font-size inherit
        &__thead
            background $gradient-blue
            color $white
        &__td
            color $black
        &__row
            &:nth-child(even)
                background-color $lightgrey
    .color-1
        background-color $color-primary-pink
    .color-2
        background-color $color-secondary-skyblue
    .color-3
        background-color $color-secondary-yellow
    .color-4
        background-color $color-primary-grey
    .color-5
        background-color $turquoise
    .color-6
        background-color $steelblue
    .color-7
        background-color $green
    .color-8
        background-color $color-primary-pink
    .color-9
        background-color $color-secondary-skyblue
    .color-10
        background-color $color-secondary-yellow
    .color-11
        background-color $color-primary-grey
    .color-12
        background-color $turquoise
    .color-13
        background-color $steelblue
    .color-14
        background-color $green

/*$pepsicoblue = #01519b
$pepsicoorange = #f36824
$pepsicogreen = #00ab4d
$pepsicobluelight = #009ada
$pepsicored = #ee1b2c
$pepsicogrey = #808285
$pepsicobluedark = #012f59
$pepsicoorangedark = #c74b0f
$pepsicogreendark = #037838
$pepsicobluelightdark = #0075a5
$pepsicoreddark = #b30513
$pepsicogreydark = #5a5a5b*/