@font-face {
  font-family: 'fa-regular-400';
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}
@font-face {
  font-family: 'Trust 2B';
  src: url("../fonts/Trust2B-Medium.eot");
  src: url("../fonts/Trust2B-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2B-Medium.ttf") format('truetype'), url("../fonts/Trust2B-Medium.svg#Trust2B-Medium") format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2B';
  src: url("../fonts/Trust2B-Bold.eot");
  src: url("../fonts/Trust2B-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2B-Bold.ttf") format('truetype'), url("../fonts/Trust2B-Bold.svg#Trust2B-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2B';
  src: url("../fonts/Trust2B-Regular.eot");
  src: url("../fonts/Trust2B-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2B-Regular.ttf") format('truetype'), url("../fonts/Trust2B-Regular.svg#Trust2B-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2B';
  src: url("../fonts/Trust2B-Light.eot");
  src: url("../fonts/Trust2B-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2B-Light.ttf") format('truetype'), url("../fonts/Trust2B-Light.svg#Trust2B-Light") format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2B XLight';
  src: url("../fonts/Trust2B-XLight.eot");
  src: url("../fonts/Trust2B-XLight.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2B-XLight.ttf") format('truetype'), url("../fonts/Trust2B-XLight.svg#Trust2B-XLight") format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2A';
  src: url("../fonts/Trust2A-Bold.eot");
  src: url("../fonts/Trust2A-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2A-Bold.ttf") format('truetype'), url("../fonts/Trust2A-Bold.svg#Trust2A-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2A';
  src: url("../fonts/Trust2A-Medium.eot");
  src: url("../fonts/Trust2A-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2A-Medium.ttf") format('truetype'), url("../fonts/Trust2A-Medium.svg#Trust2A-Medium") format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2A';
  src: url("../fonts/Trust2A-Regular.eot");
  src: url("../fonts/Trust2A-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2A-Regular.ttf") format('truetype'), url("../fonts/Trust2A-Regular.svg#Trust2A-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust 2A';
  src: url("../fonts/Trust2A-Light.eot");
  src: url("../fonts/Trust2A-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Trust2A-Light.ttf") format('truetype'), url("../fonts/Trust2A-Light.svg#Trust2A-Light") format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust Hartford Sans';
  src: url("../fonts/TrustHartfordSans-Italic.eot");
  src: url("../fonts/../fonts/TrustHartfordSans-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/TrustHartfordSans-Italic.ttf") format('truetype'), url("../fonts/TrustHartfordSans-Italic.svg#TrustHartfordSans-Italic") format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Trust Hartford Sans';
  src: url("../fonts/TrustHartfordSans-Regular.eot");
  src: url("../fonts/TrustHartfordSans-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/TrustHartfordSans-Regular.ttf") format('truetype'), url("../fonts/TrustHartfordSans-Regular.svg#TrustHartfordSans-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Trust Hartford Sans';
  src: url("../fonts/TrustHartfordSans-Bold.eot");
  src: url("../fonts/TrustHartfordSans-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/TrustHartfordSans-Bold.ttf") format('truetype'), url("../fonts/TrustHartfordSans-Bold.svg#TrustHartfordSans-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body,
p,
li,
input,
button {
  font-weight: normal;
  line-height: normal;
  font-family: 'Trust Hartford Sans';
}
h1,
h2,
h3 {
  font-weight: normal;
  line-height: normal;
  margin: 0;
  font-family: 'Trust Hartford Sans';
}
ul,
ol {
  margin: 0;
  padding: 0.5rem 0;
}
li {
  margin-left: 20px;
  padding: 5px 0;
}
input[type=button] {
  -webkit-appearance: none !important;
}
.designedButton,
.dBGraphics {
  visibility: hidden;
  display: none !important;
}
#filterSelector {
  display: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
textarea,
input,
.cl-textarea {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  border: 1px solid #75013f;
  border-radius: 0;
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.2);
}
.shield {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.shield.hidden {
  display: none;
}
.readonly {
  pointer-events: none;
}
.readonly .cl-foote {
  display: none;
}
.disabled {
  pointer-events: none;
}
blockquote {
  padding: 1.5rem;
  background-color: #efefef;
  border-radius: 0;
  position: relative;
  margin-top: 2.5rem;
}
blockquote:before,
blockquote:after {
  content: '\f10d';
  font-family: 'fa-solid-900';
  position: absolute;
  color: $color-primary;
}
blockquote:before {
  font-size: 3rem;
  top: -30px;
  left: 10px;
}
blockquote:after {
  content: '\f10e';
  font-size: 2rem;
  bottom: -18px;
  right: 10px;
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-o-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 12px;
  }
  50% {
    height: 20px;
    width: 12px;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-webkit-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-o-keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@keyframes wobble {
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
}
@-moz-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@keyframes toggler-left {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@-o-keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
@keyframes toggler-right {
  0% {
    right: 50%;
  }
  100% {
    right: 0;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
html {
  height: 100%;
}
body {
  color: #1e1e1e;
  font-size: 1.1rem;
  height: 100%;
  background-color: #f7f7f5;
  background-image: url("../images/Background.png");
  background-size: 71%;
  background-position: -72% bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-overflow-scrolling: touch;
}
#wizer .page #main {
  background-color: #eae5df;
  position: fixed;
  border-bottom: 1px solid #000;
}
#wizer .page #main #offlineStatus,
#wizer .page #main #menuPulseIcon,
#wizer .page #main .separator,
#wizer .page #main #WizerLogButton,
#wizer .page #main #A4,
#wizer .page #main #A3,
#wizer .page #main .dBGraphics {
  display: none;
}
#wizer .page #main .logout-btn,
#wizer .page #main #A5 {
  position: fixed;
  left: auto;
  right: 12px;
  top: 17px;
  width: auto;
  font-size: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #75013f;
}
#wizer .page #main .logout-btn:after,
#wizer .page #main #A5:after {
  content: '\f2f5';
  font-family: 'fa-solid-900';
  font-size: 1.2rem;
}
#wizer .page #main .logout-btn:hover,
#wizer .page #main #A5:hover {
  color: $color-primary-lue;
}
#wizer .page #main #A5 {
  right: 46px;
}
#wizer .page #main #A5:after {
  content: '\f01e';
}
#wizer .page #main #menuParticipantName {
  right: 5.5rem;
  left: auto;
  top: 0;
  line-height: 55px;
  font-size: 1.1rem;
  font-weight: normal;
  color: #75013f;
}
#wizer .page #main #menuEventName {
  background: url("../images/logo_footer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 55px;
  width: 210px;
  top: 0;
  right: auto;
  left: 1rem;
  font-size: 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
#votingSlideDiv {
  box-sizing: content-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  padding: 4.5rem 0 4rem /*make top-padding 6rem when there are metrics*/;
}
#votingSlideDiv .mainWrapper {
  margin: auto;
  width: 90%;
  max-width: 70rem;
  background-color: #fff;
  box-shadow: 1rem 1rem 3rem -0.5rem rgba(0,0,0,0.4);
  border-radius: 0;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.cl-component {
  background-color: transparent;
}
.cl-header--main {
  border-radius: 0 0 0 0;
  background: #75013f;
  min-height: 8rem;
  margin-bottom: 0;
  padding: 1rem 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  background: url("../images/pattern1.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.cl-header--main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(117,1,63,0.902);
}
.cl-header-image {
  background-position: bottom right;
  background-size: contain;
}
.cl-header__title--main {
  text-align: left;
  padding: 0 1rem 10px;
  max-width: 800px;
  position: relative;
  z-index: 9;
  font-family: 'Trust Hartford Sans';
}
.cl-header__description--main {
  text-align: left;
  margin: 0;
  padding: 0 1rem 25px;
  position: relative;
  z-index: 9;
  font-size: 1.1rem;
}
.cl-instructions {
  background-color: transparent;
  padding: 0;
  margin-top: -1.8rem;
}
.cl-instructions__text {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 2rem;
  background-color: #eae5df;
  color: #75013f;
  text-transform: none;
  font-size: 1rem;
}
.cl-bar {
  background-color: #efefef;
  border-radius: 1rem;
  height: 20px;
}
.cl-bar__inner {
  background-color: #75013f;
  border-radius: 1rem;
}
.cl-bubble {
  color: #fff;
  background-color: #1e1e1e;
}
.cl-bubble:after {
  content: '';
  border-color: #1e1e1e transparent transparent transparent;
}
.cl-footer {
  text-align: right;
}
.cl-button {
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 0;
  line-height: normal;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  transition: background 1s ease;
  float: right;
}
.cl-button--submit {
  background: #fe3082;
  margin-left: 5px;
}
.cl-button--submit:active,
.cl-button--submit:focus,
.cl-button--submit:hover {
  background: #75013f;
}
.cl-button--clear {
  display: none !important;
  background: #fe3082;
}
.cl-button--clear:active,
.cl-button--clear:focus,
.cl-button--clear:hover {
  background: #75013f;
}
.cl-button--hidden {
  display: none;
}
.cl-button.disabled {
  opacity: 0.5;
}
.cl-row {
  padding: 0;
  float: none;
}
.cl-content {
  margin-bottom: 10px;
}
.cl-article {
  margin-bottom: 2px;
}
.cl-article:last-child {
  margin-bottom: 0;
}
.cl-container {
  max-width: none;
  padding: 1rem;
}
.cl-container .colHeaders {
  border-radius: 0;
  text-align: center;
  margin-bottom: 2px;
  overflow: hidden;
}
.cl-container .colHeader {
  background-color: #efefef;
  padding: 0.5rem 1rem;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.tc {
  clear: both !important;
}
.tc-bar {
  border-bottom: 2px solid #75013f !important;
  background-color: #fff !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.tc-bar__tab {
  padding: 1rem !important;
  margin: 0 !important;
  border-radius: 5px 5px 0 0 !important;
  border: none !important;
  background-color: #fff !important;
  border-right: 1px solid #efefef;
  transition: all 1s ease !important;
}
.tc-bar__tab:after {
  content: none !important;
}
.tc-bar__tab--active {
  background-color: #75013f !important;
  border-radius: 5px 5px 0 0 !important;
}
.tc-bar__title {
  color: #868789 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.2rem !important;
}
.tc-bar__title--active {
  color: #fff !important;
}
.tc-page__page .tc-bar,
.tc-page__page .tc-xs {
  border: none !important;
  background-color: #000 !important;
  overflow: hidden !important;
  padding: 0.5rem !important;
  justify-content: center !important;
}
.tc-page__page .tc-bar >div !important,
.tc-page__page .tc-xs >div !important {
  display: inline-block !important;
}
.tc-page__page .tc-bar__tab,
.tc-page__page .tc-xs__tab {
  padding: 0.5rem 1rem !important;
  margin: 2px !important;
  border-radius: 2rem !important;
  width: auto !important;
}
.tc-page__page .tc-bar__tab--active,
.tc-page__page .tc-xs__tab--active {
  background-color: #fe3082 !important;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.progressbar_tabs {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  text-align: center;
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
}
.progressbar_tabs:before {
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #000;
  z-index: 0;
  margin: 0 5% 0 5%;
}
.progressbar-stop {
  flex-grow: 1;
  z-index: 1;
}
.progressbar-stop:before {
  content: '\f111';
  font-family: 'fa-regular-400';
  display: block;
  margin: auto;
  height: 22px;
  width: 22px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #fe3082;
  color: #75013f;
}
.progressbar-stop.Active:before {
  content: '\f192';
  color: $color-primary;
}
.progressbar-stop.Completed:before {
  content: '\f058';
  color: $green-light;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.nc-buttons-container {
  margin: 0 !important;
  padding: 0;
  text-align: center !important;
}
.nc-button {
  background-color: #73a3c2;
  border-radius: 0;
  margin: 0 !important;
}
.nc-button:hover {
  background-color: #367a3d;
}
.previous.nc-button,
.next.nc-button {
  position: relative;
  font-size: 0;
  background-color: #eae5df;
  padding: 1.5rem 2rem;
}
.previous.nc-button:after,
.next.nc-button:after {
  content: '';
  position: absolute;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 57% !important;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.previous.nc-button {
  border-radius: 50px;
}
.previous.nc-button:after {
  background: url("../images/right.svg");
  transform: rotate(180deg);
}
.next.nc-button {
  border-radius: 50px;
}
.next.nc-button:after {
  background: url("../images/right.svg");
}
.tc-acc__label {
  background-color: #fff !important;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.iaElement-0 {
  position: fixed;
  right: 14rem;
  top: 44px;
  padding: 1rem 1rem 0.5rem;
  background: #75013f;
  border-radius: 0;
  color: #fff;
  z-index: 9;
}
.iaElement-0:hover {
  background-color: #460126;
  cursor: pointer;
}
body .ui-dialog.ui-widget.info-popup {
  top: 0px !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  max-width: none;
  padding: 0;
  border: none;
  border-radius: 0;
  background: rgba(0,0,0,0.88);
  position: fixed;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-titlebar {
  background: rgba(0,0,0,0.8) !important;
  border: none !important;
  border-radius: 0 !important;
  margin: auto !important;
  padding: 0.5rem !important;
  height: 45px !important;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-titlebar a.ui-dialog-titlebar-close {
  right: 1rem;
  margin-top: -15px;
  height: 30px;
  width: 30px;
  padding: 0;
  background: none;
  border: none;
  right: 14rem;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-titlebar a.ui-dialog-titlebar-close span.ui-icon {
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-content {
  max-width: 62.5rem;
  border-radius: 0;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  max-height: calc(100% - 80px) !important;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-content .ProgressBar,
body .ui-dialog.ui-widget.info-popup .ui-dialog-content .NavigationComponent {
  display: none;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-content .basicInfo {
  max-width: 62.5rem;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-content .basicInfo:before {
  display: none;
}
body .ui-dialog.ui-widget.info-popup .ui-dialog-content .basicInfo.Customer {
  margin-top: 5rem;
}
body .ui-dialog.ui-widget.info-popup .cl-header--main {
  background-color: #dfe1df;
  margin: 0;
}
.ui-widget-overlay {
  display: none;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
[class*=Splash] #votingSlideDiv,
[class*=InfoNote] #votingSlideDiv {
  padding: 55px 0 0;
}
[class*=Splash] #votingSlideDiv .mainWrapper,
[class*=InfoNote] #votingSlideDiv .mainWrapper {
  width: auto;
  max-width: none;
  border-radius: 0;
  padding: 0;
}
[class*=Splash] #votingSlideDiv .mainWrapper .identifier,
[class*=InfoNote] #votingSlideDiv .mainWrapper .identifier {
  height: calc(100vh - 55px);
}
[class*=Splash] #votingSlideDiv .mainWrapper .identifier-page-meta,
[class*=InfoNote] #votingSlideDiv .mainWrapper .identifier-page-meta {
  padding: 0 0 25px 0;
  font-weight: bold;
}
[class*=Splash] #votingSlideDiv .mainWrapper .identifier-page-meta-icon,
[class*=InfoNote] #votingSlideDiv .mainWrapper .identifier-page-meta-icon {
  display: none;
}
[class*=Splash] #votingSlideDiv .mainWrapper .identifier-footer,
[class*=InfoNote] #votingSlideDiv .mainWrapper .identifier-footer {
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 0 0 0 6rem;
}
@media screen and (max-width: 1024px) {
  [class*=Splash] #votingSlideDiv .mainWrapper .identifier-footer,
  [class*=InfoNote] #votingSlideDiv .mainWrapper .identifier-footer {
    padding: 0 0 0 4rem;
  }
}
[class*=Splash] #votingSlideDiv .mainWrapper .identifier-footer .cl-button--submit,
[class*=InfoNote] #votingSlideDiv .mainWrapper .identifier-footer .cl-button--submit {
  background: #fe3082;
}
[class*=Splash] #votingSlideDiv .mainWrapper .identifier-footer .cl-button--submit:hover,
[class*=InfoNote] #votingSlideDiv .mainWrapper .identifier-footer .cl-button--submit:hover {
  background: #75013f;
}
body[class*=Team_Name] {
  background-image: url("../images/identifier.jpg");
}
body[class*=Team_Name] #votingSlideDiv .mainWrapper {
  background: transparent;
  box-shadow: none;
  padding: 0;
}
.bodySlide23_AS_SplashScreen .identifier-background,
.bodySlide24_AS_SplashScreen .identifier-background,
.bodySlide25_AS_SplashScreen .identifier-background {
  background-size: contain;
}
.bodySlide25_AS_SplashScreen .identifier-content,
.bodySlide26_AS_SplashScreen .identifier-content,
.bodySlide27_AS_SplashScreen .identifier-content,
.bodySlide28_AS_SplashScreen .identifier-content,
.bodySlide23_AS_SplashScreen .identifier-content,
.bodySlide24_AS_SplashScreen .identifier-content {
  display: none;
}
.bodySlide25_AS_SplashScreen .identifier-background {
  background-size: 60%;
}
.bodyYourRole_Slide9_AS_InfoNote .identifier-background {
  background-position: top center;
}
.bodyGiveLadersControl_Slide6_AS_ImageOnly .iwc-figure__image,
.bodyWhatIsNeeded_Slide15_AS_ImageOnly .iwc-figure__image,
.bodyBreakThroughThinkingCycle_Slide29_AS_ImageOnly .iwc-figure__image {
  max-width: 100%;
}
.bodyGiveLadersControl_Slide6_AS_ImageOnly .iwc-slider .slidesjs-container {
  height: 520px !important;
}
.bodyGoodNewsBadNews_Slide8_AS_Info .ic-column-left {
  float: right;
  width: 60%;
}
.bodyGoodNewsBadNews_Slide8_AS_Info .ic-column-right {
  width: 40%;
  float: left;
}
.bodyCultureIsShaped_Slide14_AS_Section .sic-level_label,
.bodyETCProcess_Slide19_AS_Section .sic-level_label {
  font-size: 2rem;
  font-weight: bold;
}
.bodyNPS_Tabs .bclc. bcc-question,
.bodyReporting_Screen .bclc. bcc-question,
.bodyNPS_AS_Slider_Result .bclc. bcc-question {
  font-size: 1.1rem;
}
.bodyNPS_Tabs .bclc. bcc-answer,
.bodyReporting_Screen .bclc. bcc-answer,
.bodyNPS_AS_Slider_Result .bclc. bcc-answer {
  font-size: 1.1rem;
}
.bodyReporting_Screen #votingSlideDiv .mainWrapper .cl-header--main {
  display: none;
}
/*------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
  #wizer .page #main #menuParticipantName {
    display: none;
  }
  #votingSlideDiv .mainWrapper {
    width: 92%;
  }
  #votingSlideDiv .mainWrapper .cl-header--main {
    padding-bottom: 1.5rem;
  }
  #votingSlideDiv .mainWrapper .cl-header__title--main {
    font-size: 1.3rem;
  }
  #votingSlideDiv .mainWrapper .cl-header-image {
    background-size: cover;
    opacity: 0.7;
  }
  #votingSlideDiv .mainWrapper .cl-header-footer {
    margin-bottom: 1.5rem;
  }
  #votingSlideDiv .mainWrapper .cl-instructions {
    margin-top: -2rem;
  }
  #votingSlideDiv .mainWrapper .cl-instructions__text {
    font-size: 0.8rem;
    padding: 10px;
  }
  #votingSlideDiv .mainWrapper .cl-bar {
    height: 10px;
  }
  #votingSlideDiv .mainWrapper .cl-container {
    padding: 0.6rem;
  }
  #votingSlideDiv .mainWrapper .cl-container .colHeaders {
    display: none;
  }
  #votingSlideDiv .mainWrapper .tc-bar__tab {
    width: 100%;
  }
}
