.change_lang
    font-size 13px
    .languageLink
        padding 0 10px  
        cursor pointer
        color white
        line-height 30px
        display inline-block
        width 100%
        &:hover
            background-color #2d2d2d
    .languageLinkSelected
        cursor default
        color #1e1e1e
        font-weight 600
        background-color #989897
        &:hover
            background-color #989897

