.copy_url
	margin 2px 100px 0px 40px
	&-meeting__code
		color red
	&-modal
		background-color rgba(0, 0, 0, 0.6)
		.cl-modal__body
			padding 25px 20px	
		.cl-modal__dialog
			width 350px
			box-shadow none
		.cl-modal__content
			padding 20px
			text-align center
			p
				color green
	&-url_text
		float right
		cursor pointer
		text-decoration underline
		text-align right
	    font-size 14px
	    color #666
		padding 5px 9px 0 0
		text-decoration underline
		

    


