.wizletCountDownTimer
   font-size: bigger
   .timer00-05, .timer00-04, .timer00-03
        background-color: orange;
   .timer00-02, .timer00-01, .timer00-00
        background-color: red;

.countDownTimerHolder
    padding 5px

.countDownleadText, .countDownTimer
    font-size 14px

.countDownTimer
    font-weight bold
    &--ends
        display block