
@import "../../../styles/variables"
@import "../../../styles/mixins"

.wizletGauge
    .gauge-input
        display none

    .gauge 
        .gauge-container
            width 135px
            height 80px
            tspan
                text-transform uppercase
