@import "shared/cl.styl"

.groupDirector-container
    max-width 1000px
.groupDirectorArticle
    width 100%
    overflow hidden
    margin auto
    .groupDirectorVoteCountContainer
        width 100%
        height 32px
        margin-top 10px
        background-color #e6e6e6
        text-transform uppercase
        .groupdirectorvotecountlabel
            width 50%
            float left
            padding 5px
            text-align right
        .groupDirectorVoteCount
            width 50%
            float right
            padding 5px
            width 50%
    .JumpMenuWrapper
        float left
        margin auto
        padding 10px
        width 100%
        background-color white
        .JumpMenuContainer
            margin auto
            a
                margin .5rem
                padding 1rem
                float left
                cursor pointer
                width 31.4%
                min-width 243px
                background-color #808080
                color white
                &:after
                    content ""
                    float right
                    height 22px
                    width 22px
                    background url("media/img/rightArrowLightGrey.svg") no-repeat center center
                    text-align center
                &:hover
                    background-color #4d4d4d
                &.currentActionAction
                    background-color #ff4e3a
                    &:hover
                        background-color #D83D2C
                &.currentActionCommand
                    background-color #6cbee5
                    &:hover
                        background-color #75013F
                &.currentActionEmbed
                    background-color #5D5DA6
                    &:hover
                        background-color #4A4A97

.embeddingWrapper 
    clear both
.qncArticle
    width 100%
    float left
    padding 0
    margin-top 10px
    margin-bottom 50px
    .qnc
        font-size 2rem
        font-weight 300
        padding 10px
        width 100%
        float left
        background-color #36b544
        color white
        text-align center
    #qandcDiv
        float left
        width 100%
        .qncFormat
            margin 10px 0
            &:nth-child(1)
                margin-top 0
            span
                padding 10px
                display block
            span:nth-child(1)
                background-color rgba(30,30,30,0.5)
                color white
            span:nth-child(2)
                background-color #1e1e1e
                color #36b544
                font-size 14px
.ec-button
    &__ok
        button($apple)
        &:hover
            background-color #3ac148
    &__cancel
        button($monza)
        &:hover
            background-color #e10044
.header
    padding 20px

@media only screen and (min-width 1025px)
    .groupDirectorArticle .JumpMenuWrapper .JumpMenuContainer a
        width 31.6%
@media screen and (min-width 737px) and (max-width 900px)
    .groupDirectorArticle .JumpMenuWrapper .JumpMenuContainer a
        width 47%
@media screen and (min-device-width 320px) and (max-device-width 736px)
    .groupDirectorArticle .JumpMenuWrapper .JumpMenuContainer a
        width 95%