@import "shared/cl.styl"

.hpc
    &-container
        background white
        text-align center
        color gray
    &-code-prefix, &-code, &-wait-message
        font-size 1rem
        padding 10px
        text-align center
    &-code
        background $cerulean
        padding 10px
        display inline-block
        color white
        margin 10px 0
    &-code, &-code-prefix
        font-weight bold
    &-code-prefix
        padding-top 25px
    &-wait-message
        text-align left