.wizletLeaderboard {
    #satisfyTest { display: normal; }
 // to satisfy test - since leaderboard is used from processors, we cannot wrap everything
}

.leaderboard .rating {
    background-color: orange;
}
.leaderboard td {
    padding: 5px;
}
.leaderboard.alternative td {
    background-color: darkgrey;
}
.leaderboard.alternative td.score {
    background-color: darkred;
}
