@import url("../../shared/css/style.css");

#ranking_TableDiv
{
	padding-left: 30px;
}

.missingMediaWarning
{
	padding-left: 30px;
}

.mediaRankingContent .rankRadio 
{
	background: none;
}

#radioCaption
{
	padding-bottom: 10px;
	clear: both;
}

.rankRadio input
{
	float: left;
}

.ranking_Table 
{
	width: auto;
}

#player
{
	margin-right: 30px;
}

.rankVoteRadioBox
{
	background:  url('/Wizer/Content/WizletResources/Shared/media/img/bg_black_25.png');
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: auto;
	padding: 0px 10px;
	float: left;
	clear: both;
	margin-right: 20px;
	padding-top: 13px;
}

.rankVoteRadioBoxDescLeft,
.rankVoteRadioBoxDescRight
{
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin-top: 2px;
	width: 50px;
}

.rankVoteRadioBoxDescLeft
{
	margin-right: 12px;
	margin-left: 8px;
	text-align: right;
}

.rankVoteRadioBoxDescRight
{
	margin-left: 17px;
	text-align: left;
}


.rankRadio
{
	float: left;
	background: none;
	width: auto;
	padding: 0px;
}

.rankVoteRadioBoxButtons input
{
	float: left;
	display: block;
	margin-top: 9px;
	height: 15px;
	padding-top: 0px;
}

*:first-child+html .rankRadio input
{
	margin-top: 5px;
}

.rankVoteSendContainer
{
	float: left;
	clear: both;
	margin-top: 15px;
}


