@import "./shared/cl.styl"

$pink = #f51d60

.meetings
	&-start		
		input
			padding 10px
			width 100%
			box-shadow none
			border 1px solid #333
			margin 5px 0 0 0
			@media only screen and (max-width 768px)
				width 100%
				border 1px solid #999
				padding 5px
				margin 10px 0 0 0
		input.invalid
			border 1px solid #dc3545

		&-invalid
			&__tooltip
				background #de1e1e
				right 0
				margin 0
				position relative
				z-index 5
				padding 0.5rem
				max-width 100%
				font-size 0.875rem
				line-height 1
				color #fff
				border-radius 0
				display none
				width 100%
		
	&-modal, &-modal__leaderStart, &-modal__followerJoin, &-modal__others
		background-color rgba(0, 0, 0, 0.6)
		.cl-modal__dialog
			width 390px
			box-shadow none
		.cl-modal__content
			padding 20px
			text-align center
			p:last-child
				color green

	&-modal__leaderStart, &-modal__followerJoin, &-modal__others
		.cl-modal__header
			background #28324b
			color #fff
			text-align center
			padding 10px 5px
			&Text
				position relative
				top 2px
			.cl-icon:before
				position relative
				top 4px
				color $pink
				font-weight bold
		.cl-modal__body
			padding 25px 20px
		.cl-modal__content
			padding 0
			.meetings-start__title
				margin 25px 0 0 0
		.cl-modal__footer
			display flex
			justify-content center

	&-modal__followerJoin
		.cl-modal__dialog
			min-height 310px

	&-modal__others
		.cl-modal__body
			padding 0 20px 25px 20px

	&-header-buttons
		display flex
		flex-direction row
		@media only screen and (max-width 768px)
			flex-direction column

	&-mobileFooter
		position fixed
		bottom 0
		left 0
		height 48px
		width 100%
		box-shadow(0px 0px 15px #333)
		background-color #fff
		justify-content space-evenly
		align-items center
		z-index 999999
		transition(all ease-in 0.2s)
		display none
		&__startButton, &__joinButton
			background-color $pink
			width 50%
			height 100%
			color #fff
			height 100%
			display flex
			align-items center
			justify-content center
			margin 0 .5px 0 0
		&__joinButton
			margin 0 0 0 .5px

		@media only screen and (max-width 768px)
			display flex

	&-invalid
		&__tooltip
			background #de1e1e
			right 0
			margin-top 0
			position relative
			z-index 5
			max-width 100%
			padding 0.5rem
			font-size 0.875rem
			line-height 1
			color #fff
			border-radius 0
			display none

	&-body
		min-height 600px
		@media only screen and (min-width 769px) and (max-width 1200px)
			min-height 580px
		padding 10px
		background rgba(255, 255, 255, 0.5)
		@media only screen and (max-width 768px)
			min-height 0
			max-height calc(100vh - 180px)
			overflow-y auto
			&::-webkit-scrollbar-track
				-webkit-box-shadow inset 0 0 6px #d3d3d3
				border-radius 6px
				background-color #6d747e
			&::-webkit-scrollbar
				width 1px
				background-color #fff
			&::-webkit-scrollbar-thumb
				border-radius 6px
				background-color #fff
		
		&__leftPanel
			float left
			width 40%
			@media only screen and (max-width 768px)
				float none
				width 100%
		&__rightPanel
			float left
			width 60%
			min-height 580px
			position relative
			@media only screen and (max-width 768px)
				display none
		&__panel
			float left
			width 100%
			min-height 580px
			position relative
		&__list
			background-color $white 
			padding 10px
			&:after
				display table
				content ""
				clear both

		&__instructions
			margin 15px 0 0 0
			background-color $white 
			padding 10px

	&-text
		&__title
			font-size 28px
			color #000
		&__desc
			font-size 16px
			color #666
			margin-left 10px
	
	&-instructions
		&__header			
			display flex
			justify-content flex-end
			align-items center
		&__header_button
			text-align center
			margin-top 10px
			&__title
				font-size 18px
				color #fff
				cursor pointer
				font-weight bold
		&__title
			font-size 18px
			color #000
			cursor pointer
		&__accordion
			float right
			margin 2px 0 0 0
			cursor pointer

		&__body
			@media only screen and (min-width 1200px)
				max-height 432px
				overflow auto
			@media only screen and (min-width 769px) and (max-width 1200px)
				max-height 410px
				overflow auto
			font-size 16px
			color #666
			li
				list-style-position inside
				padding 10px 5px

	&-list
		&__body			
			@media only screen and (min-width 1200px)
				max-height 432px
				overflow auto
			@media only screen and (min-width 769px) and (max-width 1200px)
				max-height 410px
				overflow auto
		&__header
			display flex
			&:after
				display table
				content ""
				clear both
		&__text
			float left
			width 75%
			flex 1
			flex: 0 0 0 50%
		&__icon
			float left
			position relative
			&:before
				font-size 35px
				color #666
				position absolute
				top 15px
				left 10px
		&_button
			font-size 22px		

		&__accordion
			float right
			cursor pointer

		&__meeting
			border 1px solid #ccc
			border-left 3px solid #888
			border-right 3px solid #888
			margin 10px 5px
			border-radius 5px
			cursor pointer
			&--selected
				border-left 3px solid #ccc
				border-right 3px solid #ccc
			&:after
				display table
				content ""
				clear both

		&__noMeeting
			font-size 14px
			font-style italic
			color #999
			text-align center
			height 150px
			display flex
			flex-direction column
			justify-content center

	&-meeting
		&__details
			overflow hidden
			display flex
		&__left
			width 65%
			padding 10px
		&__right
			width 30%
			text-align right
			position relative
			@media only screen and (max-width 768px)
				width 35%
		&__title
			font-size 16px
			font-weight normal
			&--notClosed
				font-weight bold
		&__dateTime, &__code, &__status
			font-size 14px
			color #666
			.cl-icon--clock
				margin 0 0 0 15px
		&__status
			font-style italic
			margin 2px 2px 0 0
		&__time
			margin 0 0 0 2px
		&__code
			font-weight bold
			color #666
			&--notClosed
				color $pink
		&__copyURL
			text-align right
			font-size 14px
			color #ffffff
			padding 5px 9px 0 0			
			background-color #f51d60
			width 50%
			float right
			border-top-right-radius 5px
			border-bottom-left-radius 5px
			@media only screen and (max-width 768px)
				width 100%
		&__buttonbox
			clear both
			display flex
			@media only screen and (max-width 768px)
				flex-direction column
		&__statusbox
			display flex
			justify-content center
			align-items center
			padding 5px
			flex-direction column
			

	&-buttons
		font-size 18px
		font-weight bold
		color #fff
		background-color $pink
		padding 10px 0px
		width 300px
		margin 5px auto
		border-radius 30px
		cursor pointer

	&-startJoin, &-join
		@media only screen and (min-width 769px)
			position absolute
			top 35%
			left 50%
			transform translate(-50%, -50%)

	&-start, &-join
		&__text
			font-size 16px
			color #000

	&-leader
		&__start
			margin-right 10px

	&-follower
		&__join
			transform translate(0%, -65%)
			text-align center 

	&-start, &-join
		&__button
			display flex
			justify-content center
			align-items center
			font-size 22px
		&__button--disabled
			cursor default
			opacity 0.6
		&__back
			background-color $pink
			width 40px
			padding 8px 0
			border-radius 50%
			color #fff
			cursor pointer
			float left
			span
				position relative
				&:first-child
					left 8px
				&:last-child
					right 4px			

		&__error
			position absolute
			width 250px
			border-radius 5px
			padding 10px
			color #555
			background #fff
			z-index 999999999
			display none
			transform translate(10%, -150%)
			border 1px solid #ccc
			box-shadow(5px 5px 25px #999)
			@media only screen and (max-width 768px)
				transform translate(-30%, -100%)
			&:before
				position absolute
				z-index 999
				content ''
				border-left 20px solid transparent
				border-bottom 20px solid transparent
				border-right 20px solid transparent
				border-top 20px solid #fff
				left -8px
				top 64px
				left 105px
				@media only screen and (max-width 768px)
					left 30px

		&__password
			@media only screen and (min-width 769px)
				transform translate(0, -60%)

		&__title
			@media only screen and (min-width 769px)
				transform translate(0, 0%)

		&__backSubmit, &__backJoin
			display flex
			justify-content center
			margin 50px 0 0 0

		&__backJoin
			margin 0

		&__submit
			float left
			width 150px
			background-color $pink
			color #fff
			padding 8px 0
			text-align center
			border-radius 25px
			margin 0 0 0 15px
			font-size 18px
			cursor pointer	

		p
			text-align center
			font-size 16px
			color #333

	&-join
		&__back
			span
				&:last-child
					right 5px

	&-errors
		margin 30px 0
		padding 10px
		background-color #ea3c25
		border 1px solid #c22a16
		color #fff
		display none
		position absolute
		width 100%
		word-break break-word
		@media only screen and (max-width 768px)
			position relative
			margin 30px 0 0 0

.meeting
	padding 10px
	position relative
	min-height 580px
	@media only screen and (max-width 768px)
		min-height 0

	&-container
		@media only screen and (min-width 769px)
			background-color #fff
			width 50%
			top 10%
			left 50%
			transform translate(-50%, -50%)
			position absolute
			text-align center
			padding 20px
			&:before
				content ''
				display none;
				width 0
				height 0
				position absolute
				border-top 25px solid transparent
				border-bottom 25px solid transparent
				border-right 25px solid #fff
				left -24px
				top 40%

	&-header
		text-align center

	&-buttons
		width 150px
		background-color $pink
		color #fff
		padding 8px 0
		text-align center
		border-radius 25px
		font-size 18px
		cursor pointer

		&__cont
			display flex
			justify-content center

	&-icon
		&:before
			font-size 50px
			color $pink

	&-title
		font-size 24px
		color #333
		font-weight bold

	&-dateTime
		font-size 16px
		color #666
		margin 10px 0
		span
			padding 0 2px
		.cl-icon--clock
			margin 0 0 0 20px

	&-id
		font-size 16px
		color #666
		padding 15px 0 5px 0
		span:last-child
			color $pink
			margin 0 5px

	&-leaderName
		font-size 16px
		color #666
		font-weight bold
		span:last-child
			margin 0 5px

	&-groupCount
		margin 20px 0 0 0
		font-size 14px
		color #333
		span:last-child
			font-weight bold
			margin 0 5px

	&-footer
		padding 35px 0 10px 0

	&-buttons
		&__back
			background-color $pink
			width 40px
			padding 8px 0
			border-radius 50%
			color #fff
			cursor pointer
			float left
			span
				position relative
				&:first-child
					left 6px
				&:last-child
					right 9px

			@media only screen and (max-width 768px)
				display none

		&:nth-child(2)
			margin 0 0 0 5px
		&:last-child
			margin 0 0 0 5px

		&--disabled
			background-color #808080
			cursor default

	&-closed
		padding 15px
		font-size 18px
		font-weight bold
		color $pink

	.meetings-errors
		left 0px
		margin 50px 0
	
	&-meetinglistheader
		margin 10px 5px 0px 0px
		display flex

	&__passwordInput
			padding 10px
			width 350px
			-webkit-box-shadow none
			-moz-box-shadow none
			box-shadow none		
			margin 5px 0 0 0
			@media only screen and (max-width 768px)
				width 100%
				border 1px solid #999
				padding 5px
				margin 10px 0 0 0

	&__titleInput
			padding 10px
			width 350px
			-webkit-box-shadow none
			-moz-box-shadow none
			box-shadow none		
			margin 5px 0 0 0
			@media only screen and (max-width 768px)
				width 100%
				border 1px solid #999
				padding 5px
				margin 10px 0 0 0

	&-buttons
		&__backbutton
			background-color $pink
			width 50px
			padding 8px 0
			border-radius 50%
			color #fff
			cursor pointer
			float left
			span
				position relative
				&:first-child
					left 6px
				&:last-child
					right 9px
		

	&-meetingbuttons
		width 90px
		background-color $pink
		color #fff
		padding 4px 0
		text-align center
		border-radius 10px
		font-size 15px
		cursor pointer
		margin-left 5px
		margin-top 5px
		@media only screen and (max-width 768px)
			margin-top 5px
			padding 2px 0
			font-size 12px
			width 100px

		&__cont
			display flex
			justify-content center

		&_endmeeting
			width 110px

		&__button--disabled
			cursor default
			background-color #808080


.startmeeting
	padding 10px
	position relative
	min-height 580px
	@media only screen and (max-width 768px)
		min-height 0

	&-container
		@media only screen and (min-width 769px)
			background-color #fff
			width 50%
			top 50%
			left 50%
			transform translate(-50%, -50%)
			position absolute
			text-align center
			padding 20px
			&:before
				content ''
				display none;
				width 0
				height 0
				position absolute
				border-top 25px solid transparent
				border-bottom 25px solid transparent
				border-right 25px solid #fff
				left -24px
				top 40%

	&-buttons
		width 150px
		background-color $pink
		color #fff
		padding 8px 0
		text-align center
		border-radius 25px
		font-size 18px
		cursor pointer

		&__cont
			display flex
			justify-content center

	&-icon
		&:before
			font-size 50px
			color $pink

	&-title
		font-size 24px
		color #333
		font-weight bold

	&-dateTime
		font-size 16px
		color #666
		margin 10px 0
		span
			padding 0 2px
		.cl-icon--clock
			margin 0 0 0 20px

	&-id
		font-size 16px
		color #666
		padding 15px 0 5px 0
		span:last-child
			color $pink
			margin 0 5px

	&-leaderName
		font-size 16px
		color #666
		font-weight bold
		span:last-child
			margin 0 5px

	&-groupCount
		margin 20px 0 0 0
		font-size 14px
		color #333
		span:last-child
			font-weight bold
			margin 0 5px

	&-footer
		padding 35px 0 10px 0

	&-buttons
		&__back
			background-color $pink
			width 40px
			padding 8px 0
			border-radius 50%
			color #fff
			cursor pointer
			float left
			span
				position relative
				&:first-child
					left 6px
				&:last-child
					right 9px

			@media only screen and (max-width 768px)
				display none

		&:nth-child(2)
			margin 0 0 0 5px
		&:last-child
			margin 0 0 0 5px

		&--disabled
			background-color #808080
			cursor default

	&-closed
		padding 15px
		font-size 18px
		font-weight bold
		color $pink
	
	&__titleInput
			padding 10px
			width 350px
			-webkit-box-shadow none
			-moz-box-shadow none
			box-shadow none		
			margin 5px 0 0 0
			@media only screen and (max-width 768px)
				width 100%
				border 1px solid #999
				padding 5px
				margin 10px 0 0 0
	

	&-invalid
		&__tooltip
			background #de1e1e
			right 0
			margin-top 0
			position relative
			z-index 5
			max-width 100%
			padding 0.5rem
			font-size 0.875rem
			line-height 1
			color #fff
			border-radius 0

	&-buttons
		font-size 24px
		font-weight bold
		color #fff
		background-color $pink
		padding 10px 0px
		width 300px
		margin 5px auto
		border-radius 30px
		cursor pointer
		&__back
			background-color $pink
			width 50px
			padding 8px 0
			border-radius 50%
			color #fff
			cursor pointer
			float left
			span
				position relative
				&:first-child
					left 6px
				&:last-child
					right 9px

			@media only screen and (max-width 768px)
				display none


.hide
	display none
.show
	display block

::-webkit-scrollbar-track
	-webkit-box-shadow inset 0 0 6px #d3d3d3
	border-radius 6px
	background-color #fff

::-webkit-scrollbar
	width 5px
	background-color #fff


::-webkit-scrollbar-thumb
	border-radius 6px
	background-color #6d747e


ul.meeting-tabs
	margin 0px
	padding 0px
	list-style none
	text-align center

ul.meeting-tabs li
	background #ffff
	color #222
	display inline-block
	padding 10px 15px
	cursor pointer
	margin-bottom 5px
	border-radius 10px    

ul.meeting-tabs li.current
	background #ededed
	color #222

.meeting-tabs-content
	display none
	background #ededed
	padding 15px

.meeting-tabs-content.current
	display inherit
   
.border
	border-radius 10px