.wizletMultiQuestionMatch {

	margin-left: 25px;
	margin-bottom: 25px;

    .multiQuestionMatchList {
	    display: inline-block;
    }

    .Validate > .multiQuestionMatchList {
	    > .invalid {
		    color: red;
	    }
	    > .valid {
		    color: green;
	    }
    }

    .Input > .multiQuestionMatchAnswers {
	    cursor: ns-resize;
    }

    .multiQuestionMatchAnswers {
	    margin-left: 25px;
    }
}
