// import component library mixins and variables
@import "shared/cl.styl"

// Navigation Component Styles
.mt
    &-button[data-buttondisabled="true"]
        display inline-block
        opacity 0.3
        cursor default
    &-button.active
        display inline-block
    &-button--hidden
        display none !important

    &-modal
        &__text--error
            color $monza
	