.wizletRankingOrder

    h2
    {
	    font-size: 16px;
	    font-weight: normal;
	    margin: 0px 15px 20px;
    }

    li
    {
	    background-color: red;
	    font-size: 16px;
	    color: #fff;
	    padding: 8px 0px;
	    width: 920px;

	    width: 100%;
	    margin-bottom: 2px;

	    clear: both;
	    float: left;

	    position: relative;
	    /* display: none; */
	    background: url(/Wizer/content/wizletResources/Shared/media/img/blackblue_20_percent.png);	
	    cursor: pointer;
    }

    li span.rankingOrder_Content
    {
	    padding: 0px 10px;
	    float: left;
	    clear: both;
    }


    li.ui-state-highlight
    {
	    background: url(/Wizer/content/wizletResources/Shared/media/img/white_20_percent.png);	
	    width: 100%;
	    border: 0px;
	    display: block;
	    left: 0px;
    }

    li.ui-sortable-helper {
	    /*background: url(/Wizer/content/wizletResources/Shared/media/img/grey_gradient.png) repeat-x;*/
	    background: url(/Wizer/content/wizletResources/Shared/media/img/dragndropGradient.png) repeat-x;
	    color: #000000;	
	    cursor: move;
	    clear: left;
	    position: absolute;
    }

    .RankingOrderWizlet ul
    {
	    list-style: none;
	    /*margin-left: 28px;*/
	    padding-right: 4px;
    }

    .RankingOrderWizlet ul.rankingOrder_List {
      padding-left: 20px;  
    }

    .RankingOrderWizlet ul.rankingOrder_List li {}

    #indexUl
    {
	    position: absolute;
	    left: -10px;
    }

    #indexUl li
    {
	    margin-bottom: 2px;
	    display: block;
	    background: none;
	    width: 27px;
	    clear: both;
	    text-align: right;
    }

    span.rankingOrder_Index
    {
	    position: absolute;
	    left: -30px;
	    text-align: right;
	    width: 20px;
	    padding-right: 14px;
	    color: #ffffff;
	    display: none;
    }

    .buttonContainer
    {
	    float: left;
	    margin: 15px 0px 0px;
	    width: 950px;
    }

    #ranking_TableDiv
    {
	    height: auto;
	    /*width: 969px;*/
	    position: relative;
	    overflow: visible;
    }

    .okIcon
    {
	    float: right;
	    padding: 0px 10px;
	    margin-top: -3px;
    }

    #contentBox
    {
	    float: none;
        margin-bottom: 20px;
    }

    .RankingOrderWizlet
    {
	    width: 100%;
    }

    .mainContent
    {
	    position: relative;
	    padding-bottom: 75px;
	    margin-bottom: 0px;
    }
    
    

.wizTypeRankingOrder
	#sendContainer
	    float right
	    margin-top 20px
	    margin-right 32px