// import variables and mixins
@import "shared/cl.styl"
@import "shared/YTPlayer.css"

// Streaming Component Styles

@font-face 
    font-family 'ytpregular'
    src url('fonts/ytp-regular.eot')
    src url('fonts/ytp-regular.eot?#iefix') format('embedded-opentype'), 
        url('fonts/ytp-regular.woff') format('woff'), 
        url('fonts/ytp-regular.ttf') format('truetype')
    font-weight 400
    font-style normal

.sc
    &-article
        margin 0 0 10px 0


    // These classes needed because footer and buttons dynamicaly comes from textAreaAD renderer.
    // We may want to change this, but before we need to understand all use cases and how user interacts with this component.
    article
        #P1
            display: block;
            margin: auto;
            vertical-align: top;
            background: rgba(0,0,0,0.5);
            background: #000 url('media/img/pulse-logo.png') center no-repeat !important;
            position: relative;
            width: 100%;
            height: 500px;
            left: 0;
            overflow: hidden;
            border-radius: 0;
            border: 1px solid #fff;
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
            box-shadow: 0 0 10px rgba(0,0,0,.5);

            .mb_YTPBar
                display block !important

        .mb_YTPlayer.fullscreen
            z-index: 2147483647;