.wizletsumchart
    h1
        line-height: 30px  

    ul 
        list-style-type: none

    li
        height: 28px

    .scoreQuestionName
        width: 110px
        margin-top: 8px 
        font-size: 14px

    .bar-wrapper  
        background: url("../../shared/media/img/white-trans-bg.png") repeat-x 
        width: 80% 
    
    .scoreQuestionName, .scoreQuestionPercent, .bar-wrapper, .score-bar, .number 
        float:left

    .score-bar, .bar-wrapper, .number
        height: 25px
        margin-bottom:2px

    .bar-wrapper
        background: url("../../shared/media/img/white-trans-bg.png") repeat-x
        width: 80%

    .score-bar 
        background: url("../../shared/media/img/green-bar-gradient.jpg") repeat-x

    .bar-wrapper .no-data-text 
	    margin-left: 125px
	    position: absolute

    .number,  .scoreQuestionPercent 
	    width: 50px
	    display: block
	    line-height:30px
	    font-size: 16px
	    margin-left:5px 