// import component library mixins and variables
@import "shared/cl.styl"

// Video Component Styles
.vcjwp
    &-article
        background $white
    &-transcript
        padding 20px
        &__header
            border-bottom 1px solid $mercury
            margin 0 0 20px 0         
    &-accordion
        &__header
            margin 0 0 20px 0
            overflow hidden
            .vcjwp-paragraph
                float left
            .vcjwp-accordion-sign
                background-image url("media/img/plus.svg")
                width 20px
                height 20px
                float right
        &__header.js-show
            .vcjwp-accordion-sign
                background-image url("media/img/minus.svg")
    
        &__content
            display none

.jw-rightclick
    display none !important