// import component library variables and mixins
@import "shared/cl.styl"

// Word Cloud Component Styles
@font-face 
    font-family 'Impact'
    src url('fonts/impactreg.eot')
    src url('fonts/impactreg.eot?#iefix') format('embedded-opentype'), 
        url('fonts/impactreg.woff') format('woff'), 
        url('fonts/impactreg.ttf') format('truetype')
    font-weight 400
    font-style normal

.wcc
    &-instructions
        text-align center
    &-content
        text-align center